* body {
    margin: auto;
    padding: 0;
    
}

header {
    padding: 20px 15px;
    text-align: center;
    background-color: purple;
    color: white;
}

.container {
  display: flexbox;
  justify-content: center;
  padding: 30px;

  
}